<a id="<%= order.table.tableNumber %>" class="table-tab" href="table/<%= order.id %>">
   <div class="flex-row">
      <img class="icon" src="/images/dining-table.png" alt="">
      <span class="table-name">Table <%= order.table.tableNumber %> </span>
   </div>
   <div class="type">
      <span class="group">
         <%= order.table.numberOfSeats %>
      </span>
      <i class="fa-solid fa-user-group"></i>
   </div>
   <div class="dineIn">
      <%= order.arrivalTime.toLocaleTimeString([],{ hour: "2-digit" , minute: "2-digit" }) %>
   </div>
   <!-- <div class="state">
      <i class="fa-solid fa-circle fa-sm"></i>
      <span class="statestr">ordered</span>
   </div> -->
</a>