<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/modules/simple-notify/dist/simple-notify.min.css" />

    <!-- JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script> -->

</head>

<body>
    <!-- header -->
    <%- include('./partials/header') %> 
    <%- include('./partials/navigation') %> 
    <%- include('./partials/loading') %> 

    <div id="new-customers">
        <h2>Khách mới</h2>
        <div>
            <h3>123. ABC</h3>
            <p>4 người</p>
        </div>
    </div>
    <div id="ordered-customers">
        <h2> Khách đặt trước </h2>
        <div id="ordered-customers-list">
            <% for( let index = 0; index < reservations.length; index++ ) { %>
                <% if (reservations[index].state == "INIT") { %>
                    <%- include('./partials/reservation/init-reservation', {reservation: reservations[index]}) %> 
                <% } %>
                <% if (reservations[index].state == "ASSIGNED") { %>
                    <%- include('./partials/reservation/assigned-reservation', {reservation: reservations[index]}) %> 
                <% } %>
                <% if (reservations[index].state == "READY") { %>
                    <%- include('./partials/reservation/ready-reservation', {reservation: reservations[index]}) %> 
                <% } %>
            <% } %>
        </div>
        
    </div>
    <div id="clerks">
        <h2>Nhân viên</h2>
        <div class="clerks-item">
            <img src="" alt="">
            <h3>Phú Hưng</h3>
        </div>
    </div>
    <div id="main">
        <% for( let index = 0; index < tables.length; index++ ) { %>
            <% if (tables[index].state == "FREE") { %>
                <%- include('./partials/table/free-table', {table: tables[index]}) %> 
            <% } %>
            <% if (tables[index].state == "LOCKED") { %>
                <%- include('./partials/table/locked-table', {table: tables[index]}) %> 
            <% } %>
            <% if (tables[index].state == "INPROGRESS") { %>
                <%- include('./partials/table/inprogress-table', {table: tables[index]}) %> 
            <% } %>
        <% } %>
    </div>

    <!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/modules/simple-notify/dist/simple-notify.min.js"></script>
    <script>
        const notiQueue = []
        let intervalId = null
        let countNoti = 0
        function pushNotify(_status, _title, _text) {
            countNoti++
            console.log(countNoti)
            console.log(_status, _title, _text)
            new Notify({
                status: _status,
                title: _title,
                text: _text,
                effect: 'slide',
                speed: 500,
                customClass: null,
                customIcon: null,
                showIcon: true,
                showCloseButton: true,
                autoclose: true,
                autotimeout: 10005,
                gap: 5,
                distance: 5,
                type: 1,
                position: 'left bottom'
            })
        }

        function pushNotifyFromQueue(queue) {
            if (queue.length > 0) {
                const curNoti = queue.pop(0)
                pushNotify(curNoti.status, curNoti.title, curNoti.text)
            }
        }

        function setNoti() {
            if (intervalId == null) {
                intervalId = setInterval(() => {
                    if (notiQueue.length == 0) {
                        clearInterval(intervalId)
                        intervalId = null
                    }
                    else {
                        pushNotifyFromQueue(notiQueue)
                    }
                }, 1000)
            }
        }

        var socket = io();
        socket.on("notification", (noti) => {
            console.log(noti)
            noti = JSON.parse(noti)
            notiQueue.push(noti)
            setNoti()
            // pushNotify(noti.status, noti.title, noti.text)
        });
    </script>
    <script>
        // var tables = "<%- JSON.stringify(tables) %>" not working???? WTF ????
        var tables = JSON.parse('<%- JSON.stringify(tables) %>');
        var reservations = JSON.parse('<%- JSON.stringify(reservations) %>');
    </script>
    <script type="module" src="js/dashboard-main.js"></script>
    
</body>

</html>