<div class="main-table-item" id="<%= table.id %>">
    <div class="main-table-item-left">
        <h2> Bàn <%= table.tableNumber %> </h2>
        <img src="/images/tables/<%= table.numberOfSeats %>-seats-table.svg" alt="">
    </div>
    <div class="main-table-item-right">
        <div>
            <p> Vào lúc: </p>
            <p> <%= table.orders[0].arrivalTime.getHours() %>:<%= table.orders[0].arrivalTime.getMinutes() %>  </p>
        </div>
        <div>
            <p> Dự kiến rời: </p>
            <p> None </p>
        </div>
        <p>Còn 15 phút</p>
    </div>
</div>